main{
    width: 100%;
    height: 840px;
    background-image: url(../assets/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-color: yellow; */
}